nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #303030;
  height: 75px;

}

img{
  width: 130px;
  margin: 120px;
}

.menu-links{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.menu-links-list{
  display: flex;
  gap: 20px;

}

.menu-links-list .menu-links-list-item{
  display: flex;
  color: #FFF;
  list-style: none;
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.btn-group{
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
}

.signin{
  color: #FFF;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #FFF;
  border-radius: 12px;
}

.signin:hover{
  background-color: #686868;
}

.signup{
  text-align: center;
  background-color: #0C70F2;
  border: 1px solid #0C70F2;
  padding: 10px 35px;
  color: #FFF;
  text-decoration: none;
  border-radius: 12px;
}

.signup:hover{
  background-color: #06AAFD;
}
